.Info {
    width: 100%;
    height: 100%;
    padding: 3% 4%;
    animation-name: appear;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    animation-delay: 0.5s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    &>p{
        font-size: 0.8rem;
        opacity:0.8;
        
    }
}

// .InfoWords:hover{
//     overflow: visible;
// }

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
