.Avatar{
    position:absolute;
    top:0;
    width: 100%;
    height: 40%;
}
.background{
    width: 200px;
    height: 200px;
    border-radius:50%;
    background: #ffffff78;
}
.img{
    width:150px;
    height:150px;
}