.content {
    height: 100vh;
    width:100%;
    position:relative;
}
.flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.white-container{
    height:55%;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
}
.main{
position:absolute;
bottom: 0;
display: flex;
flex-direction: column;
align-items: center;
height:62%;
width: 100%;
}

.box{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3vh;
    height: 80%;
}
